<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Yogi Berra</a>
      <ul class="nav">
        <li><a href="/help">help</a></li>
      </ul>
      <ul class="nav pull-right">
        <form class="form-search" action="/">
          <%= text_field_tag "search_text", @search_text_value, :class => "input-medium search-query", :placeholder => "class= class_name" %>
          <button type="submit" class="btn">Search</button>
        </form>
      </ul>
    </div>
  </div>
</div>